<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @recommendation.info %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
