<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<ul>
  

  
    <% @categories.each do |category| %>
      
        <li><%= link_to category.category, category %></li></br>
        
        
      
    <% end %>
  
</table>




